<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>表单验证</title>
    <!--
    <link href="lib/bootstrap-gh-pages/assets/bootstrap.css" rel="stylesheet" type="text/css" />
    -->
    <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">
    <style>
        #css_form input.ng-invalid.ng-dirty {
            background-color: #FFC0CB;
        }
        #css_form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
    </style>
</head>
<body ng-controller="myCtrl">

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">表单验证</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form  id="css_form" class="form-horizontal" novalidate name="myform" role="form" ng-controller="myCtrl">
                <div class="form-group">
                    <label for="inputAccount" class="col-md-2 control-label">账号：</label>
                    <div class="col-md-2">
                        <!--输入框 -->
                        <input type="number"  ng-model="user.account" min="3" max="6"  name="myAccount" required class="form-control" id="inputAccount" placeholder="请输入3-6的整数"/>
                    </div>
                    <!-- 隐藏块，显示验证信息-->
                    <div class="alert alert-danger well-sm" ng-show="myform.myAccount.$error.required">账号不能为空！</div>
                    <div class="alert alert-danger well-sm" ng-show="myform.myAccount.$error.min || myform.myAccount.$error.max">输入值必须在3-6之间!</div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">邮箱：</label>
                    <div class="col-md-2">
                        <!--输入框 -->
                        <input type="email" ng-model="user.email" name="myEmail" required class="form-control" id="inputEmail" placeholder="请输入邮箱地址"/>
                    </div>
                    <!-- 隐藏块，显示验证信息-->
                    <div class="alert alert-danger well-sm" ng-show="myform.myEmail.$error.required">邮箱不能为空！</div>
                    <div class="alert alert-danger well-sm" ng-show="myform.myEmail.$error.email">邮箱格式不正确!</div>
                </div>

                <!--按钮组-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default"  ng-disabled="!myform.$valid">提交</button>
                        <button class="btn btn-default" ng-click="reset()">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="vender/angular/angular.min.js"></script>

<script type='text/javascript' src='vender/bootstrap/js/bootstrap.min.js'></script>
<script type='text/javascript' >
    var myApp=angular.module('myModule', ['ui.bootstrap']);
    myApp.controller('myCtrl',function($scope){
        $scope.reset=function(){ //表单重置
            $scope.user={account:'',email:''};
        };
    });
    angular.element(document).ready(function() {
        angular.bootstrap(document,['myModule']);
    });
</script>
</body>
</html>